.foreword {
  height: 100vh;
  padding: 102px 32px;
  background-color: white;
  color: black;
  overflow: hidden;
  p {
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 16px;
  }
  h2 {
    font-size: 46px;
    font-weight: 500;
  }
}
