@import "../media.scss";

.foreword {
  padding: 102px 32px;
  background-color: white;
  color: black;
  overflow: hidden;

  p {
    display: block;
    font-weight: 600;
    @include mobile {
      width: 320px;
    }
  }

  h2 {
    margin-top: 32px;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 32px;
    overflow: hidden;
  }

  @include mobile {
    h2 {
      width: 320px;
      font-size: 18px;
    }
  }

  @include tablet {
    h2 {
      font-size: 32px;
    }
  }
  .btn {
    background-color: #d5253a;
    width: 16vw;
    padding: 18px 18px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    font-weight: 500;

    &:hover {
      background-color: #d93b4e;
      color: #fbe9eb;
      font-weight: 500;
    }
    @include mobile {
      width: 320px;
    }
    @include tablet {
      width: 439px;
    }
  }
}
