@import "../media.scss";

.header {
  width: 100vw;
  top: 0px;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  font-size: 18px;
  font-weight: 500;
  transition: all ease 0.4s;
  &--scrolled {
    height: 40px;
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: #423011;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 24px;
    }
    li {
      list-style: none;
      cursor: pointer;
      color: black;
      background-color: #fbe9eb;
      border: 1px solid black;
      border-radius: 25px;
      padding: 8px 32px;
      &:hover {
        color: #fbe9eb;
        border: 1px solid #fbe9eb;
        background-color: #d5253a;
      }
    }
    @include mobile {
      display: flex;
      font-size: 9.9px;
      ul {
        display: inline-flex;
        gap: 12px;
      }
      li {
        padding: 6px;
      }
    }
  }
}
