.header {
  width: 100vw;
  top: 0px;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  font-size: 18px;
  font-weight: 500;
  mix-blend-mode: difference;
  transition: all ease 0.4s;
  &--scrolled {
    height: 40px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      gap: 24px;
    }
    li {
      list-style: none;
      cursor: pointer;
      &:hover {
        color: #423011;
      }
    }
  }
}
