.landing {
  height: 100vh;
  padding: 260px 32px;
  background-color: #d5253a;
  color: #f1d9b0;
  p {
    font-size: 32px;
    font-weight: 300;
  }
  h1 {
    font-size: 58px;
    font-family: basteleur;
  }
  @font-face {
    font-family: basteleur;
    src: url("../../fonts/BasteleurBold.woff");
  }
}
